@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: Gambetta;font-display: swap;src: url("../assets/fonts/Gambetta-LightItalic.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* Generated by vite-plugin-svg-spritemap */
html::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0e0e0e;
  z-index: 1000;
  pointer-events: none;
}
html[data-fls-loaded]::after {
  opacity: 0;
  transition: opacity 1s;
}

body {
  min-width: 20rem;
  color: rgba(218, 197, 167, 0.6);
  font-family: "Chillax", sans-serif;
  font-size: 1rem;
  background-color: #0e0e0e;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

[class*="--arrow-d"]::before {
  transform: rotate(180deg);
}

[class*="--arrow-l"]::before {
  transform: rotate(90deg);
}

[class*="--arrow-r"]::before {
  transform: rotate(-90deg);
}

[class*="--arrow-ru"]::before {
  transform: rotate(45deg);
}

[class*="--arrow-lu"]::before {
  transform: rotate(-45deg);
}

[class*="--arrow-rd"]::before {
  transform: rotate(225deg);
}

[class*="--arrow-ld"]::before {
  transform: rotate(-135deg);
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1875rem 1.25rem;
}
.menu__link {
  font-family: "Satoshi", sans-serif;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.6;
  color: #dac5a7;
  position: relative;
  transition: color 0.5s;
}
.menu__link::after {
  content: "";
  width: 0;
  height: 0.03125rem;
  background-color: #dac5a7;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: width 0.5s, left 0.5s;
}
.menu__link--active::after {
  left: 0;
  width: 100%;
  background-color: #f9efe1;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  top: 0.9375rem;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: none;
  transition: margin-top 0.8s, top 0.8s;
}
.header__container {
  pointer-events: auto;
}
.header__logo, .header__link-logo, .header__button {
  position: relative;
  z-index: 5;
}
.header__body {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  gap: 0.9375rem;
  position: relative;
}
.header__body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.9375rem);
  border-radius: 0.125rem;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  z-index: 2;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll {
  top: 0.9375rem;
}

[data-fls-header-scroll-show].--header-scroll {
  margin-top: -5rem;
}
[data-fls-header-scroll-show].--header-show {
  margin-top: 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  background-color: rgba(218, 197, 167, 0.05);
}
.footer__container {
  max-width: 101.875rem;
}
.body-footer {
  display: flex;
  row-gap: 1.875rem;
}
.body-footer__content {
  flex: 0 1 28.75%; /* 460/1600 */
}
.body-footer__menus {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.body-footer__menu {
  flex-grow: 1;
}
.body-footer__title {
  color: #dac5a7;
  font-family: "Satoshi", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.0625rem;
}
.--spoller-init .body-footer__title {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
}
.--spoller-init .body-footer__title::after {
  font-size: 0.625rem;
  rotate: 180deg;
  color: #fff;
  transition: rotate 0.3s;
  content: "\f112";
  font-family: "iconfont";
}
.--spoller-active .body-footer__title::after {
  rotate: 0deg;
}
.body-footer__item:not(:last-child) {
  margin-bottom: 1rem;
}
.body-footer__link {
  font-family: "Satoshi", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.6; /* 1.3rem */
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  transition: color 0.3s;
}
.content-footer {
  display: flex;
  flex-direction: column;
}
.content-footer__social.social {
  gap: 1rem;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.bottom-footer__copy {
  line-height: 1.6;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  font-family: "Satoshi", sans-serif;
  display: inline-flex;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  color: #dac5a7;
  font-size: 0.8125rem;
  line-height: 1.46; /* 1.3rem */
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  backdrop-filter: blur(0.9375rem);
  transition: background-color 0.5s, color 0.5s;
}
.button--lite {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: #dac5a7;
  color: #0e0e0e;
}
.button--icon {
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.75rem;
}
.button--text {
  padding: 0;
  background-color: transparent;
  border: none;
  gap: 0.75rem;
}
.button--text::before {
  aspect-ratio: 1;
  width: 2rem;
  text-align: center;
  align-content: center;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  border-radius: 50%;
  transition: all 0.5s;
}
.button--text-rev {
  flex-direction: row-reverse;
}
.button--fw {
  width: 100%;
}

/*
.text-button {
	font-family: "Satoshi", sans-serif;
	align-items: center;
	gap: 0.75rem;
	text-transform: uppercase;
	&::before {
		width: 2rem;
		height: 2rem;
		text-align: center;
		align-content: center;
	}
}
*//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.625rem;
}
.social--text .social__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  line-height: 1.6;
}
.social__item {
  flex-shrink: 0;
}
[data-fls-watcher] .social__item {
  scale: 0;
}
.--watcher-view .social__item {
  transition-duration: 0.8s;
}
.--watcher-view .social__item:nth-child(1) {
  transition-delay: 0.4s;
}
.--watcher-view .social__item:nth-child(2) {
  transition-delay: 0.5s;
}
.--watcher-view .social__item:nth-child(3) {
  transition-delay: 0.6s;
}
.--watcher-view .social__item:nth-child(4) {
  transition-delay: 0.7s;
}
.--watcher-view .social__item:nth-child(5) {
  transition-delay: 0.8s;
}
.--watcher-view .social__item:nth-child(6) {
  transition-delay: 0.9s;
}
.--watcher-view .social__item {
  scale: 1;
}
.social__link::before {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(0.9375rem);
  align-content: center;
  text-align: center;
  font-size: 0.8125rem;
  width: 2.875rem;
  aspect-ratio: 1;
  border-radius: 50%;
  color: #dac5a7;
  transition: color 0.3s, background-color 0.3s;
}
html:not([data-fls-touch]) .social__link:hover::before {
  color: #0e0e0e;
  background-color: #dac5a7;
}/* Generated by vite-plugin-svg-spritemap */
.lets-talk {
  background-color: rgba(218, 197, 167, 0.05);
}
.line-talk__item {
  font-size: 0.8125rem;
  font-family: "Satoshi", sans-serif;
  color: #dac5a7;
  letter-spacing: 0.09375rem;
  line-height: 1.6;
  text-transform: uppercase;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-border] {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(0.9375rem);
  border-radius: 0.125rem;
}/* Generated by vite-plugin-svg-spritemap */
.blockhead {
  text-align: center;
  display: grid;
  justify-items: center;
}
.blockhead {
  text-wrap: balance;
}
.blockhead > *[data-fls-watcher] {
  translate: 0 20%;
  opacity: 0;
  transition: all 0.8s;
}
.blockhead > *.--watcher-view {
  opacity: 1;
  translate: 0;
}
.blockhead--gap-8 {
  gap: 0.5rem;
}
.blockhead--left {
  justify-items: start;
  text-align: left;
}
.blockhead__label, .blockhead__title {
  max-width: 62.5rem;
  color: #dac5a7;
  font-family: "Satoshi", sans-serif;
}
.blockhead__label {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
.blockhead__title {
  font-weight: 300;
}
.blockhead__title span {
  display: block;
  font-family: "Gambetta", serif;
}
.blockhead__title--size-80 {
  font-size: 5rem;
}
.blockhead__text {
  max-width: 37.5rem;
  line-height: 1.7;
}
.blockhead__button {
  margin-top: 1.5rem;
}/* Generated by vite-plugin-svg-spritemap */@media (max-height: 53.125em) and (max-width: 20em) {
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }}@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }}@media (max-width: 47.99875em) {
  .menu {
    flex-grow: 1;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
    background-color: rgba(14, 14, 14, 0.8);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    gap: 0.9375rem 1.25rem;
    flex-direction: column;
    align-items: flex-end;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #dac5a7;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .body-footer {
    flex-direction: column;
  }
  .content-footer {
    align-items: center;
    text-align: center;
  }
  .content-footer__social.social {
    justify-content: center;
  }
  .content-footer__social.social .social__link {
    gap: 0;
    font-size: 0;
  }
  .bottom-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }}@media (max-width: 31.25em) {
  .body-footer__menus {
    flex-direction: column;
    align-items: center;
  }
  .body-footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }}@media (max-width: 20em) {
  .footer {
    padding-block: 2.5rem;
  }
  .footer__body {
    margin-bottom: 1.875rem;
  }
  .body-footer {
    column-gap: 1.25rem;
  }
  .body-footer__menus {
    column-gap: 1.25rem;
  }
  .body-footer__menus {
    row-gap: 1.25rem;
  }
  .body-footer__list {
    padding-top: 1.25rem;
  }
  .content-footer {
    gap: 1.25rem;
  }
  .button--text-big::before {
    width: 2.1875rem;
  }
  .button--text-big::before {
    font-size: 0.8125rem;
  }
  .lets-talk__container {
    padding-block: 2.5rem;
  }
  .line-talk__item {
    padding-block: 0.4375rem;
  }
  .blockhead {
    gap: 0.5rem;
  }
  .blockhead__title {
    font-size: 2.8125rem;
  }
  .blockhead__title--size-80 {
    font-size: 1.75rem;
  }
  .blockhead__title--size-96 {
    font-size: 2.375rem;
  }
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }
  .blockhead__text {
    font-size: 0.9375rem;
  }
  .blockhead__text--size-18 {
    font-size: 0.875rem;
  }
  .blockhead__text--size-24 {
    font-size: 1rem;
  }}@media (max-height: 53.125em) and (min-width: 89.375em) {
  .blockhead__title--size-160 {
    font-size: 8rem;
  }}@media (max-height: 53.125em) and (min-width: 20em) and (max-width: 89.375em) {
  .blockhead__title--size-160 {
    font-size: clamp( 2.8125rem , 1.31700450450625rem  +  7.4774774775vw , 8rem );
  }}@media (min-width: 20em) and (max-width: 89.375em) {
  .footer {
    padding-block: clamp( 2.5rem , 2.06756756756875rem  +  2.1621621622vw , 4rem );
  }
  .footer__body {
    margin-bottom: clamp( 1.875rem , 0.82995495495625rem  +  5.2252252252vw , 5.5rem );
  }
  .body-footer {
    column-gap: clamp( 1.25rem , 0.49324324324375rem  +  3.7837837838vw , 3.875rem );
  }
  .body-footer__menus {
    column-gap: clamp( 1.25rem , 0.45720720720625rem  +  3.963963964vw , 4rem );
  }
  .body-footer__menus {
    row-gap: clamp( 1.25rem , 0.8896396396375rem  +  1.8018018018vw , 2.5rem );
  }
  .body-footer__list {
    padding-top: clamp( 1.25rem , 1.03378378378125rem  +  1.0810810811vw , 2rem );
  }
  .content-footer {
    gap: clamp( 1.25rem , 0.8355855855875rem  +  2.0720720721vw , 2.6875rem );
  }
  .button--text-big::before {
    width: clamp( 2.1875rem , 1.95326576576875rem  +  1.1711711712vw , 3rem );
  }
  .button--text-big::before {
    font-size: clamp( 0.8125rem , 0.7764639639625rem  +  0.1801801802vw , 0.9375rem );
  }
  .lets-talk__container {
    padding-block: clamp( 2.5rem , 0.3378378378375rem  +  10.8108108108vw , 10rem );
  }
  .line-talk__item {
    padding-block: clamp( 0.4375rem , 0.2753378378375rem  +  0.8108108108vw , 1rem );
  }
  .blockhead {
    gap: clamp( 0.5rem , 0.35585585585625rem  +  0.7207207207vw , 1rem );
  }
  .blockhead__title {
    font-size: clamp( 2.8125rem , 1.31700450450625rem  +  7.4774774775vw , 8rem );
  }
  .blockhead__title--size-80 {
    font-size: clamp( 1.75rem , 0.8130630630625rem  +  4.6846846847vw , 5rem );
  }
  .blockhead__title--size-96 {
    font-size: clamp( 2.375rem , 1.32995495495625rem  +  5.2252252252vw , 6rem );
  }
  .blockhead__title--size-160 {
    font-size: clamp( 2.8125rem , 0.740427927925rem  +  10.3603603604vw , 10rem );
  }
  .blockhead__text {
    font-size: clamp( 0.9375rem , 0.8474099099125rem  +  0.4504504505vw , 1.25rem );
  }
  .blockhead__text--size-18 {
    font-size: clamp( 0.875rem , 0.802927927925rem  +  0.3603603604vw , 1.125rem );
  }
  .blockhead__text--size-24 {
    font-size: clamp( 1rem , 0.85585585585625rem  +  0.7207207207vw , 1.5rem );
  }}@media (min-width: 47.99875em) {
  .menu {
    position: relative;
    z-index: 5;
  }
  .header {
    top: 3rem;
  }
  .header__body {
    gap: 2rem;
    padding-left: 1.5rem;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  [data-fls-header-scroll-show].--header-scroll {
    margin-top: -6.875rem;
  }
  .content-footer__social.social {
    flex-direction: column;
    align-items: flex-start;
  }}@media (min-width: 89.375em) {
  .footer {
    padding-block: 4rem;
  }
  .footer__body {
    margin-bottom: 5.5rem;
  }
  .body-footer {
    column-gap: 3.875rem;
  }
  .body-footer__menus {
    column-gap: 4rem;
  }
  .body-footer__menus {
    row-gap: 2.5rem;
  }
  .body-footer__list {
    padding-top: 2rem;
  }
  .content-footer {
    gap: 2.6875rem;
  }
  .button--text-big::before {
    width: 3rem;
  }
  .button--text-big::before {
    font-size: 0.9375rem;
  }
  .lets-talk__container {
    padding-block: 10rem;
  }
  .line-talk__item {
    padding-block: 1rem;
  }
  .blockhead {
    gap: 1rem;
  }
  .blockhead__title {
    font-size: 8rem;
  }
  .blockhead__title--size-80 {
    font-size: 5rem;
  }
  .blockhead__title--size-96 {
    font-size: 6rem;
  }
  .blockhead__title--size-160 {
    font-size: 10rem;
  }
  .blockhead__text {
    font-size: 1.25rem;
  }
  .blockhead__text--size-18 {
    font-size: 1.125rem;
  }
  .blockhead__text--size-24 {
    font-size: 1.5rem;
  }}@media (any-hover: hover) {
  .menu__link:hover {
    color: #f9efe1;
  }
  .menu__link:hover::after {
    left: 0;
    width: 100%;
    background-color: #f9efe1;
  }
  .button:hover {
    background-color: #dac5a7;
    color: #0e0e0e;
  }
  .button--lite:hover {
    background-color: rgba(218, 197, 167, 0.05);
    color: #dac5a7;
  }
  .button--text:hover {
    color: #dac5a7;
    background-color: transparent;
  }
  .button--text:hover::before {
    background-color: #dac5a7;
    color: #0e0e0e;
  }}@media (any-hover: hover) and (any-pointer: fine) {
  .body-footer__link:hover {
    color: #dac5a7;
  }}